@import url('./layout.css');

#auth_page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.auth_title {
    color: var(--text-color-1);
}

.auth_form {
    width: 30rem;
    min-height: 42rem;
}

.auth_image {
    flex: 1;
}

.auth_child {
    flex: 1;
}


/* --mobile-- */
@media only screen and (max-width: 767px) {
	.auth_form {
        width: 20rem;
    }
}

