.ant-form-item-explain.ant-form-item-explain-error {
    font-size: 0.75rem !important;
}

.ant-popover-inner-content {
    padding: 0;
}

.ant-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.ant-image-preview-img {
    margin: 4rem auto;
    width: 600px;
}

.ant-image-preview-img-wrapper::before {
    height: 20%;
}