@import url('./layout.css');


.online-list::-webkit-scrollbar {
  width: 6px;
  background-color: var(--text-color-4);
} 

.online-list::-webkit-scrollbar-thumb {
  background-color: var(--text-color-1);
  border-radius: 50px;
}

.online-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--text-color-1);
  background-color: var(--text-color-4);
  border-radius: 50px;
}