#profile_page {
}

/* -----DESKTOP----- */

/* ---avatar--- */

.profile_bg {
    position: relative;
    background-color: var(--background-default);
    width: 100%;
    height: 30rem;
}

.profile_avatar {
    width: 10rem;
    height: 10rem;

    border: 4px solid var(--text-color-4);
    border-radius: 99px;
    background: var(--main-white);

    position: relative;
}

.update-avatar {
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;

    position: absolute;
    top: 8rem;
    left: 3.75rem;
    border: 2px solid var(--text-color-2);
}


/* -----MOBILE----- */
@media only screen and (max-width: 767px) {
    .profile_bg {
        height: 20rem;
    }
}

/* -----TABLET----- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .profile_bg {
        height: 20rem;
    }
}
